@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;  
}

.body{
  background-color:#6954ff
}

.container{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  background-color:#6954ff
}
  
.container .card{
  height:500px;
  width:800px;
  background-color:#fff;
  position:relative;
  box-shadow:0 15px 30px rgba(0,0,0,0.1);
  font-family: 'Source Sans Pro', sans-serif;
  border-radius:10px
}

.container .card .form{
  width:100%;
  height:100%;
  display:flex
}

.container .card .left-side{
  width:50%;
  background-color:#000;
  height:100% !important;
  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
  overflow:hidden
}

.left-side img{
  height:100%;
  width:100%;
  object-fit:cover
}

.container .card .right-side{
  width:50%;
  background-color:#efecf2;
  height:100%;
  border-top-right-radius:10px;
  border-bottom-right-radius:10px;
  padding:20px
}

.main{
  display:none
}

.active{
  display:block
}

.register p{
  display:flex;
  justify-content:end;
  font-size:13px;
  font-weight:600;
  color:#2a2739
}

.register p a{
  text-decoration:none;
  color:blue;
  margin-left:3px
}
  
.hello{
  margin-top:40px;
  text-align:center;
  color:#2a2739;
  font-weight:900;
  font-size:35px;
}

.input_text{
  position:relative;
  margin-top:35px
}

input[
  type="text"
  ]
  {
    height:45px;
    width:100%;
    border:none;
    outline:0;
    padding:0 10px;
    font-size:13px;
    border-radius:10px;
    border:1px solid #fff
}

input[
   type="password"
   ]
   {
     height:45px;
     width:100%;
     border:none;
     outline:0;
     padding:0 10px;
     font-size:13px;
     border-radius:10px;
     padding-right:33px;
     border:1px solid #fff
}

.input_text p{
  margin-top:4px;
  font-size:13px;
  margin-left:10px;
  color:red
}  
  
.danger{
  display:none
}

.input_text p i{
  margin-right:2px
}

.fa-eye-slash{
  position:absolute;
  top:15px;
  right:8px;
  cursor:pointer;
  color:#727286
}

.fa-eye{
  position:absolute;
  top:15px;
  right:8px;
  cursor:pointer;
  color:#727286
}

.btn{  
  margin-top:15px;
  margin-left:60px;
}

.btn button{
  height:40px;
  width:200px;
  border:none;
  outline:0;
  background-color:cadetblue;
  border-radius:10px;
  transition:all 0.5s;
  cursor:pointer;
  font-size:13px;
  color:#fff;    
}

.btn button:hover{
  background-color:blue
}

.warning{
  border:1px solid red !important
}

.recovery{  
  margin-top:10px;
  font-size:15px;
  text-align:end
}

@media (max-width:750px){
  .container .card{
    max-width: 350px
  }

  .container .card .right-side{
    border-radius:10px;
    width:100%
  }

  .container .card .left-side{
    display: none
  }
}